/*place global styles here */
html,
body {
	@apply h-full;
}

body {
	@apply container mx-auto p-8 space-y-8;
}

.gradient-heading {
	@apply bg-clip-text text-transparent box-decoration-clone;
	/* Direction */
	@apply bg-gradient-to-br;
	/* Color Stops */
	@apply from-primary-400 via-tertiary-200 to-secondary-400;
}
